<!-- LIghtbox section -->
<style>
  #lightbox .row {
    /* margin: 2rem; */
  }
  #lightbox .row a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>

<section id="lightbox" class="section" style="padding-top: 40px;">
  <div class="container">
    <div class="col-12 text-center">
      <h3 class="section-title" style="margin-bottom: 40px;">Gallery</h2>
    </div>

    {% assign image_files = site.static_files | where_exp: "i", "i.path contains page.assetDir" %}

    {% assign rows = image_files | size | divided_by: 3.0 | ceil %}
    {%assign off = 0 %}
    <!-- {% for r in (1..rows)%}
    <div class="row">
      {% assign off = off | plus: 1 | times: r  | minus: 1%}
      {% for i in image_files limit: 3 offset: off | minus: 1 %}

      <a href="{{asset.path | relative_url}}" data-toggle="lightbox" data-gallery="mixedgallery" class="col-md-4">
        <img src="{{asset.path | relative_url}}" class="img-fluid rounded">
      </a>
      {%endfor%}
    </div>
    {%endfor%} -->
      {%assign length = image_files | size%}
      {%assign rowc = 1 %}
      <div class="row">
      {%for image in image_files%}
      <!-- {%if false %}
      </div>
      <div class="row">
      {%endif%} -->
      <!-- <p>{{rowc}}</p> -->
      <a href="{{image.path | relative_url}}" data-toggle="lightbox" data-gallery="mixedgallery" class="col-md-4">
        <img src="{{image.path | relative_url}}" class="img-fluid rounded">
      </a>
      {% assign rowc = rowc | plus: 1 %}
      {%endfor%}
      </div>
    
    <!-- <div class="row">
            <a href="#" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded">
            </a>
          </div>
          <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
              <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
            </a> -->
  </div>

</section>