---
layout: default
---
<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{page.smallTitle}}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">{{ page.title | escape }}</h3>
        <p class="font-secondary">Published on {{ page.date | date: '%b %d, %Y' }} by <span class="text-primary">{{
            page.author }}</span class="text-primary"> with tags: <span>{{ page.tags[0] }}</span>{% for tag in page.tags
          offset:1 %},<span> {{ tag }}</span>{% endfor %}</p>
        <div class="content">
          <img src="{{page.image | relative_url }}" class="img-fluid rounded float-left mr-5 mb-4" alt="{{page.title}}"
            style="max-width: 30%;">
          {{ content }}
        </div>
      </div>
    </div>
    {% include lightbox-section.html %}
    <div class="row">
      <div class="col">

        <div class="row justify-content-center">
          <h3 class="section-title ">Access This Project</h3>
        </div>
        <div class="row justify-content-around">
          {%if page.demos %}
          {%assign demoss = page.demos | split: ' '%}
          {%for demo in demoss%}
          <a href="{{'/assets/demos/' | append: demo | relative_url}}" target="_blank" rel="noopener noreferrer"
            role="button" class="btn btn-primary  btn-lg align-self-center">
            {{demo}}<span class="ti-new-window" style="min-width: 7rem;margin-left: 2rem;"></span></a>
          {%endfor%}
          {%else%}
          {%if page.play %}
          <a href="{{page.play | relative_url}}" role="button" class="btn btn-primary  btn-lg align-self-center">
            Play<span class="ti-microsoft-alt" style="min-width: 7rem;margin-left: 2rem;"></span></a>
          {%endif%}
          {%if page.download%}
          <a href="{{page.download}}" role="button" class="btn btn-primary  btn-lg align-self-center">
            Download<span class="ti-microsoft-alt" style="min-width: 7rem;margin-left: 2rem;"></span></a>
          {%endif%}
          <a href="{{page.source}}" target="_blank" rel="noopener noreferrer" role="button"
            class="btn btn-primary  btn-lg align-self-center">
            Source<span class="ti-github" style="min-width: 7rem;margin-left: 2rem;"></span></a>
        </div>
      </div>
      {%endif%}

    </div>
  </div>
</section>

{% if page.comments %}
{% if site.data.settings.disqus-identifier %}
{% include disqus-comments.html %}
{% endif %}
{%endif%}

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Recent Projects</h2>
      </div>
      {% for project in site.projects offset:0 limit:3 %}
      {% include project.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->